{% extends "./base.html" %}

{% block content %}

<div class="mw-50" >
    <form method="post" action="{% url 'buscar' %}">{% csrf_token %}
        <label for="exampleFormControlInput1" class="form-label">Busca tu excursión</label>
        <input type="text" name="busqueda" class="form-control" id="exampleFormControlInput1" placeholder="...">
    </form>
</div>


<div class="container excursiones">
    <div class="row">
        {% for excursion in excursiones %}
        {% include "./tarjeta.html" %}
        {% endfor%}
    </div>
</div>

{% if user.is_staff %}
<div class="container mb-5 px-0">
    <br> <br> <br><button id="crear" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Añadir nueva excursión
    </button>
</div>
{% endif %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva excursión</h5>
            </div>
            <form class="nueva-excursion" method="POST" enctype="multipart/form-data" action="{% url 'nueva' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <table>
                        {{ formulario }}
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="cerrar" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>$("#crear").click(() => $("#exampleModal").modal("show"));</script>
{% endblock %}