{% extends "../senderos_app/base.html" %}

{% block content %}

<div class="wrapper fadeInDown">

  <div class="jumbotron text-center p-1">
    <h4 class="font-weight-bold">Registro</h4>
  </div>
  <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password1.label_tag }}</td>
        <td>{{ form.password1 }}</td>
      </tr>
      <tr>
        <td>{{ form.password2.label_tag }}</td>
        <td>{{ form.password2 }}</td>
      </tr>
    </table>
    <input type="submit" class="btn btn-primary" value="Iniciar sesión">
  </form>
</div>
</div>

{% endblock %}